/* changelog-myrp */
body {
  background-color: #f2f2f2;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  color: rgba(0,0,0,.84);
}

p {
  margin: 0.5rem 0;
}

nav img {
  margin-top: 10px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

ul:not(.browser-default)>li {
  margin-left: 3.75rem;
  padding-left: 0.25rem;
}

ul:not(.browser-default),
ul:not(.browser-default)>li {
  list-style-type: initial;
}

h1,
h2 {
  font-size: 1.64rem;
  margin-top: 0;
}

h3,
h4,
h5 { 
  font-size: 1.25rem;
  margin-top: 0;
}

section h2 {
  margin-top: 2rem;
}

section img {
  margin-top: 0.75rem;
  max-width: 100%;
}

.row {
  margin: 0 -0.75rem;
}

.container {
  position: absolute;
  margin: -325px auto 60px;
  left: 0;
  right: 0;
  width: 70%;
  max-width: 800px;
}

.header {
  height: 400px;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/40532/bg-pattern.png');
}

.card-panel {
  padding: 30px;
}

.articles ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.articles ul li {
  list-style-type: none;
  margin: 0;
  font-size: 1.15rem;
  line-height: 2.25rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articles .date {
  margin: 0 0.75rem 0 0.5rem;
  color: rgba(0, 0, 0, 0.54);
}

@media only screen and (max-width: 992px) {
  .container {
    width: 80%;
  }
  
  .articles .date {
    display: none;
  }
}

#project_title {
  font-size: 2.5rem;
  font-weight: 300;
}
